.principal{
	background-color: #963F0A;
}

.barraDireita{
	border: 1px solid black;	
	margin: auto;
	width: 198px;
	height: 400px;
	margin-right: 0px;
	margin-bottom: -402px;
}
.barraEsquerda{
	border: 1px solid black;	
	margin: auto;
	width: 348px;
	height: 400px;
	margin-left: 0;
	margin-bottom: -402px;
}

#links-list{
	margin-top: auto;
	color: white;
	font-family: arial;
	font-size: 15px;
}
.map{
	width: 400px;
	margin: auto;
 	margin-left: 350px;
}

#googleMap{
	/*border: 1px solid black;
	*/
	width:800px;
	height:632px;
 }