.principal{
	background-color: #963F0A;
}

.barraDireita{
	border: 1px solid black;
	margin: auto;
	width: 200px;
	height: 500px;
	margin-bottom: 0px;
	margin-left: 1602px;
	margin-top: 0px;
}
.barraEsquerda{
	border: 1px solid black;	
	margin: auto;
	width: 348px;
	height: 400px;
	margin-left: 0;
	margin-bottom: -401px;
}

a{
	color: white;
	font-family: arial;
	font-size: 13px;
}

#links-list{
	margin-top: auto;
	color: white;
}
.map{
	border: 1px solid black;
	margin-top:702px;
	margin: auto;
	margin-left: 350px;
	width: 700px;
	height: 700px;
}

#googleMap{
	/*border: 1px solid black;
	
	margin-top:-703px;
	width:1360px;
	height:955px;
 	*/
 }